<nav>
  <ul class="pagination">
    <li class="page-item <%= "disabled" if current_page == 1 %>">
      <%= link_to "Previous", repositories_path(q: query, page: current_page - 1), class: "page-link" %>
    </li>

    <%- ([current_page - 3, 1].max).upto([current_page + 3, pages].min) do |page| %>
      <li class="page-item <%= "disabled" if current_page == page %>">
        <%= link_to page, repositories_path(q: query, page: page), class: "page-link" %>
      </li>
    <%- end %>

    <li class="page-item <%= "disabled" if current_page == pages %>">
      <%= link_to "Next", repositories_path(q: query, page: current_page + 1), class: "page-link" %>
    </li>
  </ul>
</nav>
